<section class="login-container">
  <h1>Login</h1>
  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
  <div class="login-form">
    <div>
      <label for="username">Username</label>
      <input id="username" type="text" [(ngModel)]="username" placeholder="Username" required />
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" [(ngModel)]="password" placeholder="Password" required />
    </div>
    <button (click)="login()" class="btn">Login</button>
  </div>
</section>